# NetBeans specific files #
**/nbproject/
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
dist/
nbbuild/
nbdist/
.nb-gradle/
nbactions.xml
build.xml

# Class and Package files created after compilation #
*.class
*.jar
*.war
*.ear
